<footer id="footer" class="footer">
    <div class="w-container">
      <div class="div-footer"><img src="images/tbank.svg" width="75" alt="" class="logo-bank grow"><img src="images/bbl.svg" width="75" alt="" class="logo-bank grow"><img src="images/kbank.svg" width="75" alt="" class="logo-bank grow"><img src="images/ktb.svg" width="75" alt="" class="logo-bank grow"><img src="images/tmb.svg" width="75" alt="" class="logo-bank grow"><img src="images/scb.svg" width="75" alt="" class="logo-bank grow"><img src="images/bay.svg" width="75" alt="" class="logo-bank grow"></div>
      <div class="text-footer">Copyright 2019 © YOSLOT.COM All Rights Reserved.<br>Powered by <a href="https://askmebet.com/" target="_blank" class="link-askmebet">Askmebet.com</a></div>
    </div>
  </footer>