<div class="contact-fix">
    <nav class="menu">
      <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
      <label class="menu-open-button" for="menu-open">
       <span class="lines line-1"></span>
       <span class="lines line-2"></span>
       <span class="lines line-3"></span>
     </label>
      <a href="game.html" class="menu-item purple"> <i class="fas fa-gamepad"></i>  </a>
      <a href="promotion.html" class="menu-item orange"> <i class="fas fa-bullhorn"></i>  </a>
      <a href="https://lin.ee/1N2uif5fA" target="_blank" class="menu-item green"> <i class="fab fa-line"></i> </a>
   </nav>
  </div>